@import "variables";

form, .settings-content {
  padding-top: 5px;

  .input-overlay {
    box-sizing: border-box;
    -webkit-appearance: none;
    padding-right: 12px;
    padding-left: 12px;
    transition-property: background-color,border-color,box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
    .placeholder {
      color: $color-label;
    }
  }

  textarea, .input-overlay {
    resize: vertical;
    width: 100%;
    /* We need to override the Trello default */
    min-height: 26px;
    padding-bottom: 2px;
  }

  .u-border.no-resize {
    resize: none;
    overflow-wrap: normal;
  }

  textarea.u-border.no-resize, .input-overlay.u-border.no-resize {
    overflow: hidden;
  }

  label.focused-fix {
    border-color: #798d99;
  }

  label.hovered:not(.prop-select) {
    border-color: #b6bbbf;
  }

  label.focused:not(.prop-select) {
    border-color: #a5acb0;
  }

  label {
    margin-top: 0;
    font-size: 13px;
  }
}