html, body {
  /*background-color: #EFF0F0;*/
  overflow-x: hidden;
  height: 100%;
}

.u-border.pagina {
  font-size: 16pt;
  padding: 0 0.3em 0 0.3em;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.number, .money {
  text-align: right;
}

.before-last-row {
  margin-bottom: 60px;
}

.tab {
  span {
    background-color: #e2e4e6;
    margin: 0.1em;
    padding: 0.1em 0.2em;
    display: block;
    border-bottom: 0.2em solid transparent;
    font-weight: 600;
    font-size: 14px;
  }

  &.content {
    /* Mark with 'hasContent' also when the tab is selected. When the user edits the tab then it will apply the 'editing' state */
    span {
      border-bottom: 0.2em solid #F68712;
    }

    &.selected.editing {
      span {
        border-bottom: 0.2em solid #41B23B;
      }
    }
  }

  &.selected {
    span {
      background-color: white;
      border-bottom: 0.2em solid black;
    }

    &.editing {
      span {
        border-bottom: 0.2em solid #41B23B;
      }
    }
  }

  :first-child {
    span {
      margin-left: 0;
    }
    padding-left: 0;
  }
}

.navigation-bar {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.5em;
}
.navigation-bar .tab {
  padding: 0.1em;
  cursor: pointer;
}

.ic-beteiligt {
  background: url(../assets/ic_beteiligt.png) no-repeat;
}

.less-padding-left, .less-padding {
  padding-left: 2px;
}
.less-padding-right, .less-padding {
  padding-right: 2px;
}

.align-bottom {
  position: absolute;
  bottom: 0;
  width: 99.9%;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #D3D3D3a0;
  text-align: center;
  padding-top: 50px;
  font-size: 24pt;
  font-weight: bold;
  line-height: normal;
}

/* this must be in commons (or maybe a file called conditional.formats.css) and not in panta.forms! */
textarea.rule-costs-exceeded {
  color: red;
}
textarea.rule-costs-exceeded-not {
  color: green;
}

/* some fixes */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 0.5;
}

::-ms-input-placeholder { /* Microsoft Edge */
  opacity: 0.5;
}