html, body {
    background-color: #EFF0F0;
}

.field input, .field textarea {
    /*background: #edeff0;*/
    background: rgba(0,0,0,.03);
    min-height: 32px;
    resize: vertical;
    box-shadow: inset 0 1px 6px rgba(0,0,0,.1);
}

.field textarea:focus {
    box-shadow: inset 0 1px 6px rgba(0,0,0,.1);
}

.tab span {
    background-color: #e2e4e6;
    margin: 0.1em;
    padding: 0.1em 0.2em;
    display: block;
    border-bottom: 0.2em solid transparent;
    font-weight: 600;
    font-size: 14px;
}

.tab.content span {
    border-bottom: 0.2em solid #F68712;
}

.tab.content.selected span {
    background-color: white;
}

.tab:first-child span {
    margin-left: 0px;
}

.navigation-bar {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0.5em;
}
.navigation-bar .tab {
    padding: 0.1em;
    cursor: pointer;
}

.tab:first-child {
    padding-left: 0px;
}

input[type="text"] {
    padding: 1rem 0.5em 0.5em 0.5em;
}

textarea, input {
    padding-top: 1rem;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
}

.field {
    display: flex;
    flex-flow: column-reverse;
}

.field input, .field textarea {
    margin-bottom: 0.5em;
    margin-top: -22px;
}

input + label, textarea + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 100;
    padding-left: 0.5em;
    font-weight: normal;
    pointer-events: none;
    font-size: 13px;
}

.ic-beteiligt {
    background: url(../assets/ic_beteiligt.png) no-repeat;
}

.col-6:first-child, .col-9:first-child {
    padding-right: 2px;
}
.col-6:last-child, .col-3:last-child {
    padding-left: 2px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.5;
}

::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.5;
}