html, body {
    background-color: #EFF0F0;
    overflow-x: hidden;
    overflow-y: auto;
}

form {
    padding-top: 5px;
}

form label.focused-fix {
    border-color: #a5acb0;
}

form label.hovered {
    border-color: #b6bbbf;
}
form label.focused {
    border-color: #a5acb0;
}

form label {
    border-radius: 3px 3px 0 0;
    background: rgba(0,0,0,.03);
    margin-bottom: 0;
    padding: 0 0 0 0.5em;
    border-left: 1px solid #cdd2d4;
    border-right: 1px solid #cdd2d4;
    border-top: 1px solid #cdd2d4;
    border-bottom: 0;
    color: #B2B3B3;
    font-weight: normal;
}

form .u-border, form .u-border:focus {
    border-top: none;
    overflow: auto;
    outline: none;
    outline: 0 !important;
    border-radius: 0 0 3px 3px;
    background: rgba(0,0,0,.03);
    padding-top: 0;

    -webkit-appearance:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none !important;
    resize: vertical;
    min-height: 32px;
    margin-bottom: 5px;
}

select {
    padding: .5em;
}

.u-border.pagina {
    font-size: 20pt;
    padding: 0 0.5em 0 0.5em;
}

.bold {
    font-weight: bold;
}

.number, .money {
    text-align: right;
}

.before-last-row {
    margin-bottom: 60px;
}

.tab span {
    background-color: #e2e4e6;
    margin: 0.1em;
    padding: 0.1em 0.2em;
    display: block;
    border-bottom: 0.2em solid transparent;
    font-weight: 600;
    font-size: 14px;
}

.tab.content span {
    border-bottom: 0.2em solid #F68712;
}

.tab.selected span {
    background-color: white;
    border-bottom: 0.2em solid #41B23B;
}

.tab:first-child span {
    margin-left: 0px;
}

.navigation-bar {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0.5em;
}
.navigation-bar .tab {
    padding: 0.1em;
    cursor: pointer;
}

.tab:first-child {
    padding-left: 0px;
}

.ic-beteiligt {
    background: url(../assets/ic_beteiligt.png) no-repeat;
}

.less-padding-left, .less-padding {
    padding-left: 2px;
}
.less-padding-right, .less-padding {
    padding-right: 2px;
}

.align-bottom {
    position: absolute;
    bottom: 0px;
    width: 99.9%;
}

.hidden {
    display: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.5;
}

::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.5;
}