@import "variables";

[class*="panta-bgcolor-"] {
  color: $white;
  p {
    color: $white;
  }
}

.panta-bgcolor-blue {
  background-color: $trello-blue !important;
}

.panta-bgcolor-green {
  background-color: $trello-green !important;
}

.panta-bgcolor-orange {
  background-color: $trello-orange !important;
}

.panta-bgcolor-red {
  background-color: $trello-red !important;
}

.panta-bgcolor-yellow {
  background-color: $trello-yellow !important;
}

.panta-bgcolor-purple {
  background-color: $trello-purple !important;
}

.panta-bgcolor-pink {
  background-color: $trello-pink !important;

}

.panta-bgcolor-sky {
  background-color: $trello-sky !important;
}

.panta-bgcolor-lime {
  background-color: $trello-lime !important;
}

.panta-bgcolor-shades {
  background-color: $trello-shades !important;
}
.panta-bgcolor-gray {
  background-color: $trello-gray !important;
}

.panta-bgcolor-black {
  background-color: $trello-black !important;
}

.panta-bgcolor-null {
  color: $trello-black;
  p {
    color: $trello-black;
  }
}

.panta-btn {
  &.panta-bgcolor-blue:hover {
    background-color: darken($trello-blue, 10%);
  }
  &.panta-bgcolor-green:hover {
    background-color: darken($trello-green, 10%);
  }
  &.panta-bgcolor-orange:hover {
    background-color: darken($trello-orange, 10%);
  }
  &.panta-bgcolor-red:hover {
    background-color: darken($trello-red, 10%);
  }
  &.panta-bgcolor-yellow:hover {
    background-color: darken($trello-yellow, 10%);
  }
  &.panta-bgcolor-purple:hover {
    background-color: darken($trello-purple, 10%);
  }
  &.panta-bgcolor-pink:hover {
    background-color: darken($trello-pink, 10%);
  }
  &.panta-bgcolor-sky:hover {
    background-color: darken($trello-sky, 10%);
  }
  &.panta-bgcolor-lime:hover {
    background-color: darken($trello-lime, 10%);
  }
  &.panta-bgcolor-shades:hover {
    background-color: darken($trello-shades, 10%);
  }
  &.panta-bgcolor-black:hover {
    background-color: darken($trello-black, 10%);
  }
  &.panta-bgcolor-gray:hover {
    background-color: darken($trello-gray, 10%);
  }

  &[disabled], &[disabled]:hover {
    color: lighten($white, 10);
  }
}