@import "variables";

.panta-bgcolor-blue {
  background-color: $trello-blue;
}

.panta-bgcolor-green {
  background-color: $trello-green;
}

.panta-bgcolor-orange {
  background-color: $trello-orange;
}

.panta-bgcolor-yellow {
  background-color: $trello-yellow;
}

.panta-bgcolor-purple {
  background-color: $trello-purple;
}

.panta-bgcolor-pink {
  background-color: $trello-pink;
}

.panta-bgcolor-sky {
  background-color: $trello-sky;
}

.panta-bgcolor-lime {
  background-color: $trello-lime;
}

.panta-bgcolor-shades {
  background-color: $trello-shades;
}
