html, body {
    background-color: #EFF0F0;
    overflow-x: hidden;
    height: 100%;
}

form {
    padding-top: 5px;
}

textarea {
    resize: vertical;
    width: 100%;
    height: 100%;
}

form .u-border.no-resize {
    resize: none;
    overflow-wrap: normal;
}

form textarea.u-border.no-resize {
    overflow: hidden;
}

.u-border.pagina {
    font-size: 16pt;
    padding: 0 0.3em 0 0.3em;
}

.bold {
    font-weight: bold;
}

.number, .money {
    text-align: right;
}

.before-last-row {
    margin-bottom: 60px;
}

.tab span {
    background-color: #e2e4e6;
    margin: 0.1em;
    padding: 0.1em 0.2em;
    display: block;
    border-bottom: 0.2em solid transparent;
    font-weight: 600;
    font-size: 14px;
}

/* Mark with 'hasContent' also when the tab is selected. When the user edits the tab then it will apply the 'editing' state */
.tab.content span, .tab.content.selected span {
    border-bottom: 0.2em solid #F68712;
}

.tab.selected span {
    background-color: white;
    border-bottom: 0.2em solid transparent;
}

/* When there's content but the user is editing the content then prefer 'editing' state over 'hasContent' */
.tab.selected.editing span, .tab.selected.editing.content span {
    border-bottom: 0.2em solid #41B23B;
}

.tab:first-child span {
    margin-left: 0;
}

.navigation-bar {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.5em;
}
.navigation-bar .tab {
    padding: 0.1em;
    cursor: pointer;
}

.tab:first-child {
    padding-left: 0;
}

.ic-beteiligt {
    background: url(../assets/ic_beteiligt.png) no-repeat;
}

.less-padding-left, .less-padding {
    padding-left: 2px;
}
.less-padding-right, .less-padding {
    padding-right: 2px;
}

.align-bottom {
    position: absolute;
    bottom: 0;
    width: 99.9%;
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #D3D3D3a0;
    text-align: center;
    padding-top: 50px;
    font-size: 24pt;
    font-weight: bold;
    line-height: normal;
}

textarea.rule-costs-exceeded {
    color: red;
}

textarea.rule-costs-exceeded-not {
    color: green;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.5;
}

::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.5;
}