html, body {
    overflow-y: auto;
}

form label.focused-fix {
    border-color: #a5acb0;
}
form label.hovered {
    border-color: #b6bbbf;
}
form label.focused {
    border-color: #a5acb0;
}

form label {
    border-radius: 3px 3px 0 0;
    background: rgba(0,0,0,.03);
    margin-bottom: 0;
    padding: 0 0 0 0.5em;
    border-left: 1px solid #798d99;
    border-right: 1px solid #798d99;
    border-top: 1px solid #798d99;
    border-bottom: 0;
    color: #B2B3B3;
    font-weight: normal;
}

form .u-border, form .u-border:focus {
    border-top: none;
    overflow: auto;
    outline: none;
    outline: 0 !important;
    border-radius: 0 0 3px 3px;
    background: rgba(0,0,0,.03);
    padding-top: 0;

    -webkit-appearance:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none !important;
    resize: vertical;
    min-height: 32px;
    margin-bottom: 5px;
}

select {
    padding: .5em;
}

.padding-fix {
    padding-bottom: 8px;
}

.field {
    min-height: 56px;
}

.field * {
    line-height: 1.1;
}
