@import "variables";

body {
}

.settings-import-export {
  .align-right {
    padding-right: 1em;
  }
  .align-left {
    padding-left: 1em;
  }

  .overridden-value {
    font-weight: bold;
  }

  .preview-section {
    height: $line-height * 1px;
    line-height: $line-height * 1px;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 5px 0 0;
      margin: 0;
    }
  }

  .progress-overlay {

    &.success {
      .row {
        background-color: $trello-green;

        p {
          color: $white;
        }
      }

    }
    &.error {
      .row {
        background-color: $trello-red;

        p {
          color: $white;
        }
      }
    }

    .row {
      background-color: $white;

      .details {
        font-size: small;
        color: $color-chip;
      }
    }
  }
}