$height:26px;
$line-height:18;
$bg-color: rgba(0, 0, 0, .03);
$bg-color-hovered: rgba(0, 0, 0, .05);
$border-color: #798d99;
$border-radius: 3px;
$color-active: #F68712;

$trello-blue: #026AA7;
$trello-green:  #5AAC44;
$trello-orange:  #E99E40;
$trello-red:  #eb5a46;
$trello-yellow:  #E6C60D;
$trello-purple:  #A86CC1;
$trello-pink:  #E76EB1;
$trello-sky:  #00AECC;
$trello-lime:  #4FD683;
$trello-shades:  #676D70;

// checkmark
$checkmark-border-radius: 10px;
$checkmark-dimension: 20px;

// text colors
$color-label: #B2B3B3;
$white: #fff;

// chips
$color-chip: #4F5254;
$bg-color-chip: lighten($trello-shades, 50%);