$height:26px;
$line-height:18;
$bg-color: rgba(0, 0, 0, .03);
$bg-color-hovered: rgba(0, 0, 0, .05);
$border-color: #798d99;
$border-radius: 3px;
$color-active: #F68712;

$trello-blue: #0079BF;
$trello-green:  #61BD4F;
$trello-orange:  #FFAB4A;
$trello-red:  #EB5A46;
$trello-yellow:  #F2D600;
$trello-purple:  #C377E0;
$trello-pink:  #FF80CE;
$trello-sky:  #00C2E0;
$trello-lime:  #51E898;
$trello-shades:  #676D70;
$trello-gray: #C4C9CC;
// black does not really exist but it can be used for labels???
$trello-black: #254659;

// checkmark
$checkmark-border-radius: 10px;
$checkmark-dimension: 20px;

// text colors
$color-label: #B2B3B3;
$white: #fff;
$black: #000;

// chips
$color-chip: #4F5254;
$bg-color-chip: lighten($trello-shades, 50%);